@using ToDoSite2.Models.Identity;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" value="Выход" />
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Login">Вход</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
    }
</ul>